In [2]:
import requests
import json
import prettytable
import pandas as pd
import bls
from bls_datasets import oes, qcew

In [17]:
FIPS_list=[]
year_list=range(2014,2019,1)

In [18]:
df_qcew = qcew.get_data('industry', rtype='dataframe', year='2014', qtr='1', industry='10')
cols=df_qcew.columns

In [19]:
# desired format for pulling the data
df=pd.DataFrame(columns=cols)
for i in set(year_list):
    for j in (1,2,3,4):
        df_qcew = qcew.get_data('industry', rtype='dataframe', year=str(i), qtr=str(j), industry='10')
        df=pd.concat([df,df_qcew])
df.shape

(384872, 42)

In [20]:
df_qcew.head(3)

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,qtrly_estabs,month1_emplvl,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,01000,0,10,50,0,2015,4,NaN,121924,1904122,...,28146,1.5,1080587499,5.0,77004135,5.7,-1079289,-3.3,31,3.5
1,01000,1,10,51,0,2015,4,NaN,1188,52890,...,-266,-0.5,26613198,2.5,0,0.0,0,0.0,52,3.4
2,01000,2,10,51,0,2015,4,NaN,1352,95206,...,-439,-0.5,33233168,2.6,-1404,-85.1,-53,-96.4,30,2.9

In [6]:
df.groupby(['avg_wkly_wage', 'oty_avg_wkly_wage_pct_chg']).mean()

                                         own_code  industry_code  agglvl_code  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                     1.000000           10.0    71.000000
               0.0                       2.603712           10.0    67.592795
198           -16.8                      5.000000           10.0    71.000000
262           -11.5                      5.000000           10.0    71.000000
269            2.3                       5.000000           10.0    71.000000
...                                           ...            ...          ...
2574          -0.2                       1.000000           10.0    71.000000
2588           0.0                       2.000000           10.0    71.000000
2958           6.2                       0.000000           10.0    70.000000
2968           0.9                       1.000000           10.0    71.000000
3159           6.3                       5.000000           10.0    71.000000

                                         size_code    year  qtr  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                           0.0  2017.0  1.0
               0.0                             0.0  2017.0  1.0
198           -16.8                            0.0  2017.0  1.0
262           -11.5                            0.0  2017.0  1.0
269            2.3                             0.0  2017.0  1.0
...                                            ...     ...  ...
2574          -0.2                             0.0  2017.0  1.0
2588           0.0                             0.0  2017.0  1.0
2958           6.2                             0.0  2017.0  1.0
2968           0.9                             0.0  2017.0  1.0
3159           6.3                             0.0  2017.0  1.0

                                          qtrly_estabs  month1_emplvl  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                          1.000000            0.0
               0.0                          255.360262            0.0
198           -16.8                          91.000000          545.0
262           -11.5                         520.000000         4312.0
269            2.3                          539.000000         3652.0
...                                                ...            ...
2574          -0.2                           10.000000          514.0
2588           0.0                            4.000000            9.0
2958           6.2                       126191.000000      2413828.0
2968           0.9                           26.000000          607.0
3159           6.3                       125351.000000      2152963.0

                                         month2_emplvl  month3_emplvl  ...  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg                                ...
0             -100.0                               0.0            0.0  ...
               0.0                                 0.0            0.0  ...
198           -16.8                              543.0          657.0  ...
262           -11.5                             4299.0         4079.0  ...
269            2.3                              3627.0         3703.0  ...
...                                                ...            ...  ...
2574          -0.2                               512.0          515.0  ...
2588           0.0                                 9.0            9.0  ...
2958           6.2                           2432121.0      2441833.0  ...
2968           0.9                               616.0          621.0  ...
3159           6.3                           2167394.0      2175285.0  ...

                                         oty_month2_emplvl_pct_chg  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                                        -100.0
               0.0                                             0.0
198           -16.8                                          -25.9
262           -11.5                                           -3.1
269            2.3                                            -0.4
...                                                            ...
2574          -0.2                                            -2.7
2588           0.0                                             0.0
2958           6.2                                             2.0
2968           0.9                                             3.2
3159           6.3                                             2.2

                                         oty_month3_emplvl_chg  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                                      -1.0
               0.0                                         0.0
198           -16.8                                     -135.0
262           -11.5                                     -394.0
269            2.3                                        55.0
...                                                        ...
2574          -0.2                                        -6.0
2588           0.0                                         0.0
2958           6.2                                     46742.0
2968           0.9                                        18.0
3159           6.3                                     45195.0

                                         oty_month3_emplvl_pct_chg  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                                        -100.0
               0.0                                             0.0
198           -16.8                                          -17.0
262           -11.5                                           -8.8
269            2.3                                             1.5
...                                                            ...
2574          -0.2                                            -1.2
2588           0.0                                             0.0
2958           6.2                                             2.0
2968           0.9                                             3.0
3159           6.3                                             2.1

                                         oty_total_qtrly_wages_chg  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                                 -1.117300e+04
               0.0                                    0.000000e+00
198           -16.8                                  -8.349650e+05
262           -11.5                                  -2.865120e+06
269            2.3                                    3.885280e+05
...                                                            ...
2574          -0.2                                   -3.611460e+05
2588           0.0                                    0.000000e+00
2958           6.2                                    7.116304e+09
2968           0.9                                    7.896840e+05
3159           6.3                                    6.962278e+09

                                         oty_total_qtrly_wages_pct_chg  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                                            -100.0
               0.0                                                 0.0
198           -16.8                                              -35.8
262           -11.5                                              -16.6
269            2.3                                                 3.1
...                                                                ...
2574          -0.2                                                -2.1
2588           0.0                                                 0.0
2958           6.2                                                 8.2
2968           0.9                                                 3.4
3159           6.3                                                 8.5

                                         oty_taxable_qtrly_wages_chg  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                                             0.0
               0.0                                               0.0
198           -16.8                                        -819903.0
262           -11.5                                       -2625435.0
269            2.3                                          258515.0
...                                                              ...
2574          -0.2                                               0.0
2588           0.0                                               0.0
2958           6.2                                       964666401.0
2968           0.9                                               0.0
3159           6.3                                       964024720.0

                                         oty_taxable_qtrly_wages_pct_chg  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                                                 0.0
               0.0                                                   0.0
198           -16.8                                                -36.3
262           -11.5                                                -17.2
269            2.3                                                   2.4
...                                                                  ...
2574          -0.2                                                   0.0
2588           0.0                                                   0.0
2958           6.2                                                   5.5
2968           0.9                                                   0.0
3159           6.3                                                   5.5

                                         oty_qtrly_contributions_chg  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                                             0.0
               0.0                                               0.0
198           -16.8                                         -28182.0
262           -11.5                                        -135583.0
269            2.3                                          -13275.0
...                                                              ...
2574          -0.2                                               0.0
2588           0.0                                               0.0
2958           6.2                                       -55497119.0
2968           0.9                                               0.0
3159           6.3                                       -55469787.0

                                         oty_qtrly_contributions_pct_chg  \
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                                                 0.0
               0.0                                                   0.0
198           -16.8                                                -33.5
262           -11.5                                                -23.3
269            2.3                                                  -3.6
...                                                                  ...
2574          -0.2                                                   0.0
2588           0.0                                                   0.0
2958           6.2                                                  -9.2
2968           0.9                                                   0.0
3159           6.3                                                  -9.2

                                         oty_avg_wkly_wage_chg
avg_wkly_wage oty_avg_wkly_wage_pct_chg
0             -100.0                                    -859.0
               0.0                                         0.0
198           -16.8                                      -40.0
262           -11.5                                      -34.0
269            2.3                                         6.0
...                                                        ...
2574          -0.2                                        -5.0
2588           0.0                                         0.0
2958           6.2                                       173.0
2968           0.9                                        26.0
3159           6.3                                       186.0

[15492 rows x 36 columns]

In [21]:
df.shape

(384872, 42)

In [8]:
harris_county_total = df.loc[(df['area_fips']=='48201')|(df['area_fips']=='48245')]

In [9]:
harris_county_total.head()

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,qtrly_estabs,month1_emplvl,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
13502,48201,0,10,70,0,2017,1,NaN,114861,2238117,...,-3755,-0.2,1419877165,3.5,47345588,0.3,82319066,22.0,58,4.2
13503,48201,1,10,71,0,2017,1,NaN,182,24995,...,369,1.5,15291218,2.8,0,0.0,0,0.0,10,0.6
13504,48201,2,10,71,0,2017,1,NaN,72,52110,...,2256,4.5,44612027,4.8,0,0.0,0,0.0,3,0.2
13505,48201,3,10,71,0,2017,1,NaN,303,195408,...,2442,1.2,128096933,5.5,3929791,12.0,-552380,-93.8,40,4.4
13506,48201,5,10,71,0,2017,1,NaN,114304,1965604,...,-8822,-0.4,1231876987,3.3,43415797,0.3,82871446,22.2,62,4.3

In [10]:
harris_county_total['area_fips'].value_counts()

48201    5
48245    5
Name: area_fips, dtype: int64

In [33]:
df.isna().sum()

area_fips                              0
own_code                               0
industry_code                          0
agglvl_code                            0
size_code                              0
year                                   0
qtr                                    0
disclosure_code                    18325
qtrly_estabs                           0
month1_emplvl                          0
month2_emplvl                          0
month3_emplvl                          0
total_qtrly_wages                      0
taxable_qtrly_wages                    0
qtrly_contributions                    0
avg_wkly_wage                          0
lq_disclosure_code                 18325
lq_qtrly_estabs                        0
lq_month1_emplvl                       0
lq_month2_emplvl                       0
lq_month3_emplvl                       0
lq_total_qtrly_wages                   0
lq_taxable_qtrly_wages                 0
lq_qtrly_contributions                 0
lq_avg_wkly_wage                       0
oty_disclosure_code                18227
oty_qtrly_estabs_chg                   0
oty_qtrly_estabs_pct_chg               0
oty_month1_emplvl_chg                  0
oty_month1_emplvl_pct_chg              0
oty_month2_emplvl_chg                  0
oty_month2_emplvl_pct_chg              0
oty_month3_emplvl_chg                  0
oty_month3_emplvl_pct_chg              0
oty_total_qtrly_wages_chg              0
oty_total_qtrly_wages_pct_chg          0
oty_taxable_qtrly_wages_chg            0
oty_taxable_qtrly_wages_pct_chg        0
oty_qtrly_contributions_chg            0
oty_qtrly_contributions_pct_chg        0
oty_avg_wkly_wage_chg                  0
oty_avg_wkly_wage_pct_chg              0
dtype: int64

In [ ]:
#This cell of code takes the bls data for only the fips code in fips list
full_df=pd.DataFrame(columns=cols)
for f in FIPS_list:
    for l in f:
        local_df=df.loc[df['area_fips']==str(l)]
        full_df=pd.concat([full_df,local_df])
#Now save full_df to a csv
full_df.to_csv('path')