In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
andrew = pd.read_csv('../new_datasets/andrew.csv')
charlie = pd.read_csv('../new_datasets/charlie.csv')
frances = pd.read_csv('../new_datasets/frances.csv')
harvey = pd.read_csv('../new_datasets/harvey.csv')
ike = pd.read_csv('../new_datasets/ike.csv')
irene = pd.read_csv('../new_datasets/irene.csv')
irma = pd.read_csv('../new_datasets/irma.csv')
ivan = pd.read_csv('../new_datasets/ivan.csv')
katrina = pd.read_csv('../new_datasets/katrina.csv')
maria = pd.read_csv('../new_datasets/maria.csv')
matthew = pd.read_csv('../new_datasets/matthew.csv')
michael = pd.read_csv('../new_datasets/michael.csv')
rita = pd.read_csv('../new_datasets/rita.csv')
sandy = pd.read_csv('../new_datasets/sandy.csv')
wilma = pd.read_csv('../new_datasets/wilma.csv')

In [7]:
df_full = pd.concat([andrew, charlie, frances, harvey, ike, irene, irma, ivan, katrina, maria, matthew, michael, rita, sandy, wilma])

In [8]:
df_full

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified.3,lq_avg_wkly_wage_99_unclassified.3,lq_qtrly_estabs_99_unclassified.3,lq_month3_emplvl_99_unclassified.3,qtrly_estabs_48_49_transportation_and_warehousing.3,avg_wkly_wage_48_49_transportation_and_warehousing.3,month3_emplvl_48_49_transportation_and_warehousing.3,lq_avg_wkly_wage_48_49_transportation_and_warehousing.3,lq_qtrly_estabs_48_49_transportation_and_warehousing.3,lq_month3_emplvl_48_49_transportation_and_warehousing.3
0,Andrew,12011,92.0,274.0,1041.0,1.04,0.16,0.23,7132.0,462.0,...,NaN,NaN,NaN,NaN,94.0,370.0,704.0,0.84,1.21,0.75
1,Andrew,12087,NaN,NaN,NaN,NaN,NaN,NaN,351.0,493.0,...,NaN,NaN,NaN,NaN,430.0,486.0,4954.0,0.82,0.58,0.43
2,Andrew,12099,NaN,NaN,NaN,NaN,NaN,NaN,5246.0,548.0,...,NaN,NaN,NaN,NaN,840.0,493.0,18693.0,0.87,0.82,1.17
0,Charlie,12021,98.0,291.0,9653.0,0.85,0.80,9.29,2131.0,679.0,...,261.0,0.98,0.73,0.99,195.0,787.0,1450.0,1.08,0.72,0.36
1,Charlie,12027,119.0,0.0,0.0,0.00,16.85,0.00,46.0,576.0,...,52.0,0.57,0.98,3.10,18.0,0.0,0.0,0.00,1.23,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,Wilma,12099,366.0,510.0,6403.0,1.19,0.70,1.22,10980.0,823.0,...,429.0,0.87,0.66,0.96,369.0,947.0,3628.0,1.46,0.82,0.51
3,Wilma,12071,116.0,471.0,1707.0,1.22,0.60,0.85,3134.0,717.0,...,1173.0,0.93,0.57,0.80,1431.0,708.0,22324.0,0.97,0.93,0.95
4,Wilma,12087,25.0,514.0,90.0,1.46,0.53,0.26,661.0,774.0,...,NaN,NaN,NaN,NaN,5.0,0.0,0.0,0.00,1.24,0.00
5,Wilma,12043,18.0,0.0,0.0,0.00,11.71,0.00,14.0,457.0,...,12.0,0.61,0.17,0.45,20.0,0.0,0.0,0.00,1.03,0.00
6,Wilma,12051,97.0,0.0,0.0,0.00,11.76,0.00,77.0,455.0,...,104.0,0.96,0.39,1.44,141.0,595.0,804.0,1.01,1.38,0.69

In [17]:
df_full.shape

(492, 194)