In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
#andrew = pd.read_csv('../datasets/andrew.csv')
charlie = pd.read_csv('../new_datasets/charlie.csv')
frances = pd.read_csv('../new_datasets/frances.csv')
harvey = pd.read_csv('../new_datasets/harvey.csv')
ike = pd.read_csv('../new_datasets/ike.csv')
irene = pd.read_csv('../new_datasets/irene.csv')
irma = pd.read_csv('../new_datasets/irma.csv')
ivan = pd.read_csv('../new_datasets/ivan.csv')
katrina = pd.read_csv('../new_datasets/katrina.csv')
maria = pd.read_csv('../new_datasets/maria.csv')
matthew = pd.read_csv('../new_datasets/matthew.csv')
michael = pd.read_csv('../new_datasets/michael.csv')
rita = pd.read_csv('../new_datasets/rita.csv')
sandy = pd.read_csv('../new_datasets/sandy.csv')
wilma = pd.read_csv('../new_datasets/wilma.csv')

In [12]:
df_full = pd.concat([charlie, frances, harvey, ike, irene, irma, ivan, katrina, maria, matthew, michael, rita, sandy, wilma])

In [13]:
df_full.head()

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified.3,lq_avg_wkly_wage_99_unclassified.3,lq_qtrly_estabs_99_unclassified.3,lq_month3_emplvl_99_unclassified.3,qtrly_estabs_48_49_transportation_and_warehousing.3,avg_wkly_wage_48_49_transportation_and_warehousing.3,month3_emplvl_48_49_transportation_and_warehousing.3,lq_avg_wkly_wage_48_49_transportation_and_warehousing.3,lq_qtrly_estabs_48_49_transportation_and_warehousing.3,lq_month3_emplvl_48_49_transportation_and_warehousing.3
0,Charlie,12021,98.0,291.0,9653.0,0.85,0.80,9.29,2131.0,679.0,...,261.0,0.98,0.73,0.99,195.0,787.0,1450.0,1.08,0.72,0.36
1,Charlie,12027,119.0,0.0,0.0,0.00,16.85,0.00,46.0,576.0,...,52.0,0.57,0.98,3.10,18.0,0.0,0.0,0.00,1.23,0.00
2,Charlie,12087,26.0,0.0,0.0,0.00,0.55,0.00,648.0,649.0,...,63.0,0.95,0.48,0.84,137.0,608.0,838.0,0.95,1.35,0.72
3,Charlie,12049,118.0,0.0,0.0,0.00,18.63,0.00,47.0,431.0,...,7.0,0.52,0.33,0.49,17.0,0.0,0.0,0.00,1.26,0.00
4,Charlie,12095,227.0,0.0,0.0,0.00,0.65,0.00,6576.0,773.0,...,125.0,0.99,0.95,1.55,65.0,745.0,314.0,1.16,0.71,0.25

In [14]:
df_full.shape

(120, 776)

In [36]:
wages = pd.read_csv('../datasets/other/wages_final.csv')

In [16]:
fips = ["48201",
"48245",
"48167",
"48039",
"48321",
"48057",
"48007",
"48409",
"48355",
"48273",
"22087",
"22071",
"22075",
"22051",
"22103",
"22089",
'72127',
'72021',
'72013',
'72025',
'72113',
'12025',
'12011',
'12099',
'12087',
'36103',
'36059',
'36081',
'36005',
'36647',
'36119',
'36061',
'72127',
'72021',
'72013',
'72025',
'72113',
'12025',
'12011',
'12099',
'12087',
'12043',
'12021',
'12071',
'12051',
'12115',
'48071',
'48167',
'48245',
'48201',
'12025',
'12011',
'12099',
'12087',
'12043',
'12021',
'12071',
'12051',
'22051',
'22075',
'22103',
'22095',
'22093',
'01003',
'01097',
'12045',
'12095',
'12113',
'12033',
'12005',
'12045',
'12129',
'12091',
'12037',
'13087',
'13253',
'22051',
'22075',
'22103',
'22095',
'22093',
'22023',
'22045',
'22053',
'22001',
'12025',
'48167',
'48245',
'48201',
'12031',
'12095',
'45019',
'45013',
'45051',
'37183',
'37129',
'12015',
'12087',
'12021',
'12027',
'12049',
'12095',
'12099',
'12011',
'12086',
'12095',
'12085',
'72127',
'72057',
'72049',
'72147',
'72025',
'72113',
'72063',
'72127',
'72049',
'72151',
'34009',
'34001',
'34017',
'34021',
'36059',
'36095',
'36061',
'37137',
'37177',
'51810',
'51800',
'51700'];

In [17]:
wages = wages.loc[wages['area_fips'].isin(fips)]

In [18]:
years = ['2017', '2005', '2012', '2018', '2008', '2004', '2011', '2016', '2013', '2006', '2019']

In [19]:
wages = wages.loc[wages['year'].isin(years)]

In [33]:
wages.shape

(1500, 11)

In [34]:
wages.to_csv('../datasets/other/wages_full.csv', index=False)