In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
andrew = pd.read_csv('../datasets/andrew.csv')
charlie = pd.read_csv('../datasets/charlie.csv')
frances = pd.read_csv('../datasets/frances.csv')
harvey = pd.read_csv('../datasets/harvey.csv')
ike = pd.read_csv('../datasets/ike.csv')
irene = pd.read_csv('../datasets/irene.csv')
irma = pd.read_csv('../datasets/irma.csv')
ivan = pd.read_csv('../datasets/ivan.csv')
katrina = pd.read_csv('../datasets/katrina.csv')
maria = pd.read_csv('../datasets/maria.csv')
matthew = pd.read_csv('../datasets/matthew.csv')
michael = pd.read_csv('../datasets/michael.csv')
rita = pd.read_csv('../datasets/rita.csv')
sandy = pd.read_csv('../datasets/sandy.csv')
wilma = pd.read_csv('../datasets/wilma.csv')

In [4]:
df_full = pd.concat([andrew, charlie, frances, harvey, ike, irene, irma, ivan, katrina, maria, matthew, michael, rita, sandy, wilma])

In [5]:
df_full.head(5)

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,12011,12011,92.0,274.0,1041.0,1.04,0.16,0.23,7132.0,462.0,...,NaN,NaN,NaN,NaN,786.0,444.0,18954.0,0.91,0.80,1.27
1,12087,12087,NaN,NaN,NaN,NaN,NaN,NaN,351.0,493.0,...,NaN,NaN,NaN,NaN,95.0,341.0,736.0,0.89,1.27,0.81
2,12099,12099,NaN,NaN,NaN,NaN,NaN,NaN,5246.0,548.0,...,NaN,NaN,NaN,NaN,414.0,415.0,4775.0,0.82,0.57,0.44
3,12011,12011,96.0,299.0,930.0,1.12,0.16,0.17,7227.0,466.0,...,NaN,NaN,NaN,NaN,809.0,439.0,18630.0,0.85,0.81,1.26
4,12099,12099,NaN,NaN,NaN,NaN,NaN,NaN,5314.0,548.0,...,NaN,NaN,NaN,NaN,422.0,443.0,4421.0,0.86,0.58,0.42

In [6]:
df_full.shape

(492, 194)

In [7]:
wages = pd.read_csv('../datasets/other/county-ests-employment-and-wages.csv')

FileNotFoundError: [Errno 2] File ../datasets/other/county-ests-employment-and-wages.csv does not exist: '../datasets/other/county-ests-employment-and-wages.csv'

In [ ]:
wages = wages.loc[wages['area_fips'].isin(fips)]

In [ ]:
fips = ["48201",
"48245",
"48167",
"48039",
"48321",
"48057",
"48007",
"48409",
"48355",
"48273",
"22087",
"22071",
"22075",
"22051",
"22103",
"22089",
'72127',
'72021',
'72013',
'72025',
'72113',
'12025',
'12011',
'12099',
'12087',
'36103',
'36059',
'36081',
'36005',
'36647',
'36119',
'36061',
'72127',
'72021',
'72013',
'72025',
'72113',
'12025',
'12011',
'12099',
'12087',
'12043',
'12021',
'12071',
'12051',
'12115',
'48071',
'48167',
'48245',
'48201',
'12025',
'12011',
'12099',
'12087',
'12043',
'12021',
'12071',
'12051',
'22051',
'22075',
'22103',
'22095',
'22093',
'01003',
'01097',
'12045',
'12095',
'12113',
'12033',
'12005',
'12045',
'12129',
'12091',
'12037',
'13087',
'13253',
'22051',
'22075',
'22103',
'22095',
'22093',
'22023',
'22045',
'22053',
'22001',
'12025',
'48167',
'48245',
'48201',
'12031',
'12095',
'45019',
'45013',
'45051',
'37183',
'37129',
'12015',
'12087',
'12021',
'12027',
'12049',
'12095',
'12099',
'12011',
'12086',
'12095',
'12085',
'72127',
'72057',
'72049',
'72147',
'72025',
'72113',
'72063',
'72127',
'72049',
'72151',
'34009',
'34001',
'34017',
'34021',
'36059',
'36095',
'36061',
'37137',
'37177',
'51810',
'51800',
'51700'];

In [ ]:
years = ['2017', '2005', '2017', '1992', '2012', '2018', '2008', '2005', '2004', '2018', '2011', '2007', '2004']

In [ ]:
wages = wages.loc[wages['year'].isin(years)]

In [ ]:
wages.head(15)

In [88]:
wages.to_csv('../datasets/other/wages.csv', index=False)